.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plus-one{
  border-radius: 0.2em;
  width: 64px;
  height: 32px;
  background-color: #9cb5e8;
  border-style: hidden;
  color: rgb(9, 107, 9);
  margin: 0.2em;
}
.minus-one{
  border-radius: 0.2em;
  width: 64px;
  height: 32px;
  background-color: #9cb5e8;
  border-style: hidden;
  color: rgb(139, 14, 20);
  margin: 0.2em;
}

.button-handler{
  display: flex;
  justify-content: center;
  width: 300px;
  flex-wrap: wrap;
}

audio{
  background-color: purple;
  width: 64px;
  
}
